$background-color: #333333;

$orange: #ff6347;
$grey: #353234;
$light-grey: #d0d0d0;
$dark-grey: #333333;
$charcoal: #2b2b2b;
$cyan: #008b8b;
$error: #ff6347;
$gold: lighten(#ffd700, 25%);

$victory: #006847;
$defeat: #872927;

$rubik: 'Rubik', sans-serif;
$roboto: 'Roboto', sans-serif;
