@import '../styles/variables.scss';

.header-nav {
    background-color: $light-grey;
    padding: 1rem;
    border: $light-grey 1px solid;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
        display: inline-flex;
        align-items: center;
        text-decoration: none;
        &:hover {
            span {
                text-decoration: underline;
            }
        }

        img {
            width: 50px;
            height: 50px;
        }

        span {
            flex: 1;
            font: bold 32px $rubik;
            padding-left: 1rem;
            letter-spacing: 3px;
            color: $cyan;
        }
    }

    .menu {
        list-style: none;
        display: flex;

        &:last-child {
            margin-right: 0;
        }

        a {
            color: $charcoal;
            text-decoration: none;
            font-size: 16px;
            font-weight: 500;
            padding: 10px;
            border-radius: 5px;

            &:hover,
            &.active {
                background-color: $cyan;
                color: white;
            }
        }

        .menuItem {
            margin-right: 20px;
            font: bold 20px $roboto;
            letter-spacing: 1.5px;
        }
    }
}
